@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("heebo-300-he.woff2") format("woff2");
}
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("heebo-300-latin.woff2") format("woff2");
}
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("heebo-300-latinex.woff2") format("woff2");
}
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("heebo-400-he.woff2") format("woff2");
}
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("heebo-400-latin.woff2") format("woff2");
}
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("heebo-400-latinex.woff2") format("woff2");
}
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("heebo-500-he.woff2") format("woff2");
}
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("heebo-500-latin.woff2") format("woff2");
}
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("heebo-500-latinex.woff2") format("woff2");
}
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("heebo-600-he.woff2") format("woff2");
}
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("heebo-600-latin.woff2") format("woff2");
}
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("heebo-600-latinex.woff2") format("woff2");
}
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("heebo-700-he.woff2") format("woff2");
}
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("heebo-700-latin.woff2") format("woff2");
}
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("heebo-700-latinex.woff2") format("woff2");
}
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("heebo-800-he.woff2") format("woff2");
}
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("heebo-800-latin.woff2") format("woff2");
}
@font-face {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("heebo-800-latinex.woff2") format("woff2");
}
